@use "./components/navbar";
@use "./pages/home";
@use "./components/heading";
@use "./base/variables" as var;
@use "./pages/movie_details";
@use "./components/movie_lists";
@use "./pages/movie_page";
@use "./pages/search";
@use "./components/form";
@use "./components/favorite";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var.$primaryFont;
}

body,
html {
  scroll-behavior: smooth;
  background-color: #020202;
  color: #fff;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main__container {
  margin: 0 3rem;
  @media (max-width: 600px) {
    margin: 0 2rem;
  }
}
