.movies {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  gap: 2rem;
  width: 100%;
  padding: 0 20px;

  .movies__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 40px 0;
  }

  img {
    border-radius: 0.5rem;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.15);
    }
  }
}
