.card__lists {
  margin-top: 2rem;
  @media (max-width: 500px){
    margin-top: 1rem;
  }
}

@mixin card-list-styles {
  .list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 40px 0;

    @media (max-width: 900px) {
      margin: 0px 0 20px 0;
    }
  }

  img {
    border-radius: 0.5rem;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.15);
    }

    @media (max-width: 900px) {
      width: 150px;
      height: 200px;
    }

    @media (max-width: 730px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      width: 120px;
      height: 180px;
    }
  }
}

.list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 2rem;
  width: 100%;
  padding: 0 20px;

  @include card-list-styles();
}

.list__grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  width: 100%;
  padding: 0 20px;

  @include card-list-styles();

  @media (max-width: 1800px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  @media (max-width: 1300px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  @media (max-width: 1100px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 0;
  }

  @media (max-width: 730px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (max-width: 460px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
