.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  width: 100%;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  a {
    all: unset;

    &:hover {
      cursor: pointer;

      span {
        transition: 0.3s;
        opacity: 80%;
      }
    }
  }
  span {
    &:hover {
      cursor: pointer;
      transition: 0.3s;
      opacity: 80%;
    }
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }

  /* Dropdown menu for mobile */
  &__dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 450px) {
  .navbar {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    justify-content: end;

    &__links,
    &__right,
    &__left {
      display: none;
    }

    &__toggle {
      display: block;
    }
  }
}
