.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;

  button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
  }

  ::placeholder {
    color: #eee;
  }

  .__container {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    transition: border 0.3s ease-in-out;
  }

  .__input {
    width: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    opacity: 0;
    color: #fff;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
    pointer-events: none;
  }

  .__icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.open {
    .__container {
      border: 1px solid #ccc;
    }

    .__input {
      width: 250px;
      padding: 0 10px;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

@media (max-width: 800px) {
  .search-bar.open .__input {
    width: 100px;
  }
}

@media (max-width: 600px) {
  .search-bar {
    display: none;
  }
}
