@use "../base/variables" as var;
@use "../components/overlay";

@mixin trending-styles {
  ul {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    gap: 1.75rem;
    width: 100%;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      color: #ffffff;
      font-size: 10rem;
      margin-top: 22px;
      white-space: nowrap;
      @include var.fancy-text;
      -webkit-user-select: none;
      user-select: none;
    }

    img {
      border-radius: 0.5rem;
      object-fit: cover;
      margin-left: -15px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.15);
      }
    }
  }
}

.trending {
  margin-top: 4rem;
  position: relative;
  z-index: 1;
  padding-top: 3rem;

  @include trending-styles;
}

.trending__tv {
  padding-top: 0;

  @include trending-styles;
}
